        body{
            /* background-image:url('new.jpg');
            background-repeat:no-repeat;
            background-position: center;
            background-attachment: fixed;
            background-size: cover; */
            background-color: #212121;
            font-family: 'Roboto',sans-serif;
        }
        .logo{
            border: 2px solid black;
            width: fit-content;
            border-radius: 10px;
            transition:transform 0.4s ease;
        }
        .logo:hover{
            transform:scale(1.3)
        }
        .box{
            border: 2px solid rgba(255,255,255,0.7);
            padding: 20px;
            margin: 20px;
            width: fit-content;
            background: rgba(0,0,0,0.4);
            border-radius: 10px;
            backdrop-filter: blur(5px);
        }
        
        .what{
            border: 2px solid rgba(0,0,0,0.3);
            padding: 20px;
            margin: 20px;
            width:auto;
            border-radius: 10px;
            backdrop-filter: blur(5px);
            background-color: rgba(0,0,0,0.3);
        }
        .images{
            display: flex;
            width: 100vw;        
            height:250px;        
            margin: 0;
            padding: 0;
            gap:10px;
        }

        .images img{
            flex: 1;              
            width: 25%;
            height: 100%;
            object-fit: cover;   
            border: 2px solid ;
            border-radius: 14px;
            box-shadow: 
                0 0 10px black,
                0 0 30px rgba(225, 255, 255, 0.15);
        }
        .wave{
            font-size: 50px;
            font-weight: bold;
            color: cyan;
            display: inline-block;
            }

        .wave::after{
            content: attr(data-text);
        }

         .wave{
            position: relative;
            animation: wave 1.5s infinite ease-in-out;
        }

        @keyframes wave{
            0%,100%{
                transform: translateY(0);
        }
        50%{
            transform: translateY(-15px);
        }
           }
        
        .audioo{
            border-radius: 12px;
            box-shadow:0 10px 81px ;
        }
        .videoo{
            border-radius: 12px;
        }
        .container{
            display:flex;

        }
        .navbar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 60px;
        }
        .navbar a{
            margin-left: 20px;
            
        }
      
        .multi-section{
            display: flex;
            gap: 30px;
            margin:30px;
        }
        .multi-left{
            flex:1;
        }
        .multi-right{
            flex:2;
            padding: 20px;
            background: rgba(0,0,0,0.3);
            border-radius:10px;
        }
        @media(max-width:768px){
            .multi-section{
                flex-direction: column;
            }
        }
        .multi-right:hover{
            transform: scale(1.1);
        }
        .what:hover {
            transform:scale(1.1);
        }
        .mediaa{
            display: flex;
            padding: 40px;
            gap: 300px;
        }
        .multi-left2{
            flex:1;
            border: 2px solid;
            width: fit-content;
            border-radius: 40px;
            background-color: rgba(0,0,0,0.3);
            border-color: rgba(0,0,0,0.3);
        }
        .multi-right2{
            flex:2;
            border: 2px solid;
            width: fit-content;
            border-radius: 40px;
            background-color: rgba(0,0,0,0.3);
            border-color: rgba(0,0,0,0.3);
        }
    

    /* owasptop10 css */
    .body2{
        background-color:#212121;
        font-family:'Roboto',sans-serif;
    }
    .header1{
        background-color:whitesmoke;
        border-radius:100px;
    }
    .iframe-section{
        display: flex;
        gap: 30px;
        margin:30px;
    }
    .text{
        flex:1;
        border: 2px solid rgba(0,0,0,0.3);
        padding: 20px;
        margin: 20px;
        width:fit-content;
        border-radius: 10px;
        backdrop-filter: blur(5px);
        background-color: rgba(0,0,0,0.3);
        height:fit-content;
        color: whitesmoke;
    }
    .iframee{
        flex:2;
    }
    /* threats */
    .body3{
        background-color:#212121;
        font-family:'Roboto',sans-serif;
    }